[user]
	name = James Wang
	email = veriathon@gmail.com

[color]
	ui = auto
	branch = auto
	status = auto
	diff = auto
[core]
	editor = vim
	autocrlf = input
[alias]
	last = log -1 HEAD
	lg = log --oneline --decorate --all --graph -30
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh

[commit]
	gpgsign = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[include]
	path = .gitconfig.local
